:root {
    
    --video-width-large: 560px;
    --video-height-large: 315px;
    
    --video-width-medium: 80%;
    --video-height-medium: auto;
    
    --video-width-small: 100%;
    --video-height-small: auto;
    --sidebar-background: rgba(0, 0, 255, 0.7);
    --sidebar-hover-background: rgba(100, 100, 255, 0.7);
    --navy-blue: #000080; 
}

.taburi-iframe {
    position: relative;
    width: var(--video-width-large);
    margin: 5px auto; 
    display: flex; 
    align-items: center;
}

    .taburi-iframe iframe, .taburi-iframe video {
        width: var(--video-width-large); 
        height: var(--video-height-large); 
        display: block; 
        border: 8px solid var(--navy-blue); 
        margin: 0; 
    }

@media (max-width: 768px) {
    .taburi-iframe iframe, .taburi-iframe video {
        width: var(--video-width-medium); 
        height: var(--video-height-medium); 
}

@media (max-width: 480px) {
    .taburi-iframe iframe, .taburi-iframe video {
        width: var(--video-width-small); 
        height: var(--video-height-small); 
    }
}


#meniu {
    position: absolute;
    bottom: -31%;
    transform: translateY(-50%); 
    left: 102%; 
    width: 130px; 
    background-color: transparent; 
    z-index: 1000; 
}

    #meniu a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: lightskyblue;
        
        background-image: linear-gradient(to right, var(--navy-blue), var(--light-blue));
        transition: background-color 0.3s ease;
        border-top-right-radius: 50%;
        
    }

        #meniu a:hover {
            color: white; 
        }

  
